## Rest of the file pulled from https://github.com/actions/setup-python/blob/master/.github/workflows/workflow.yml
name: Main workflow
on:
  push:
    branches:
      - master
    tags:
      - '*'
    paths:
      - '**'
      - '!*.md'
  pull_request:
    paths:
      - '**'
      - '!*.md'
jobs:
  run:
    name: Run
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-22.04, windows-2025, windows-2022]
        php: ['5.4', '5.5', '5.6', '7.1', '7.2', '7.3', '7.4', '8.0', '8.1', '7.2.11', '7.2.12', '8.1.9', '8.2', '8.3', '8.4']
        exclude:
          - os: windows-2022
            php: 5.4
          - os: windows-2025
            php: 5.4
          - os: windows-2022
            php: 7.2.11
          - os: windows-2022
            php: 8.0
          - os: windows-2022
            php: 8.2
          - os: windows-2025
            php: 7.2.11
          - os: windows-2025
            php: 8.0
          - os: windows-2025
            php: 8.2
          - os: ubuntu-22.04
            php: 7.2.11
          - os: ubuntu-22.04
            php: 7.2.12
          - os: ubuntu-24.04
            php: 5.4
          - os: ubuntu-24.04
            php: 5.5
          - os: ubuntu-24.04
            php: 7.2.11
          - os: ubuntu-24.04
            php: 7.2.12

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: npm install
      if: startsWith(matrix.os, 'ubuntu')
      run: npm install

    # - name: Lint
    #   if: matrix.os == 'ubuntu-20.04' || matrix.os == 'ubuntu-18.04'
    #   run: npm run format-check

    - name: npm test
      if: startsWith(matrix.os, 'ubuntu')
      run: npm test
    - if: startsWith(matrix.os, 'ubuntu')
      run: rm -rf node_modules
    - if: startsWith(matrix.os, 'windows')
      run: rm -rf node_modules
      shell: bash
    - name: Setup PHP
      uses: ./
      with:
        php-version: ${{ matrix.php}}

    - name: php --version
      run: |
        php -i
        php -m

