## Rest of the file pulled from https://github.com/actions/setup-python/blob/master/.github/workflows/workflow.yml
name: Main workflow
on:
  push:
    branches:
      - master
    tags:
      - '*'
    paths:
      - '**'
      - '!*.md'
  pull_request:
    paths:
      - '**'
      - '!*.md'
jobs:
  run:
    name: Run
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-18.04, windows-2019, windows-2016]
        php: [5.4, 5.5, 5.6, 7.1, 7.2, 7.3, 7.4, 8.0, 8.1, 7.2.11, 7.2.12, 8.0.3]
        exclude:
          - os: windows-2019
            php: 7.2.11
          - os: windows-2019
            php: 8.0
          - os: windows-2019
            php: 8.0.3
          - os: windows-2016
            php: 7.2.11
          - os: windows-2016
            php: 8.0
          - os: windows-2016
            php: 8.0.3
          - os: ubuntu-18.04
            php: 7.2.12
          - os: ubuntu-18.04
            php: 8.0.3
          - os: ubuntu-20.04
            php: 5.4
          - os: ubuntu-20.04
            php: 5.5
          - os: ubuntu-20.04
            php: 7.2.11
          - os: ubuntu-20.04
            php: 7.2.12

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set Node.js 10.x
      uses: actions/setup-node@master
      with:
        version: 10.x

    - name: npm install
      if: matrix.os == 'ubuntu-20.04' || matrix.os == 'ubuntu-18.04'
      run: npm install

    # - name: Lint
    #   if: matrix.os == 'ubuntu-20.04' || matrix.os == 'ubuntu-18.04'
    #   run: npm run format-check

    - name: npm test
      if: matrix.os == 'ubuntu-20.04' || matrix.os == 'ubuntu-18.04'
      run: npm test

    - name: Setup PHP
      uses: ./
      with:
        php-version: ${{ matrix.php}}

    - name: php --version
      run: |
        php -i
        php -m

